@model ForgetPasswordVM



<div class="card-body">
    <form method="POST" asp-action="SendResetPassURL" asp-controller="Account">

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="Enter your email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Send</button>
    </form>
</div>
