@model ResetPasswordVM
<h3>reser pass</h3>
<div class="card-body">
    <form method="POST" asp-action="ResetPassword" asp-controller="Account">
        <input asp-for="Email" class="form-control" type="hidden" >
        <input asp-for="Token" class="form-control" type="hidden" >

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter your password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>

<!-- Fery@123-->
