@model SliderVM
@section Header {
  _Details

}

<div class="col-md-8">


    <div class="card-body">
        <ul class="list-group">

            <li class="list-group-item">
                <strong>
                    Img:
                </strong> <img src="~/files/images/@Model.NameOfImg" width="100%" height="50%" />

            </li>
            <li class="list-group-item">
                <strong>
                    Title:
                </strong> 
                @Model.Title
            </li>


        </ul>
    </div>
</div>
</div>

