@model Re.PL.Areas.Dashboard.ViewModels.ItemVMForm

@section Header {
   items
}

<div class="col-md-8">
    <div class="card card-gray">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label">Upload Image</label>
                <input asp-for="Image" class="form-control-file" type="file" />
            </div>
  
            <div class="form-group">
                <label asp-for="PortfoliosId" class="control-label">Select Portfolio</label>
                <select asp-for="PortfoliosId" class="form-control" asp-items="Model.Portfolios">

                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
