@model PotfolioDetails
@section Header {
  _

}

<div class="col-md-8">
    <div class="card" style="font-family: 'Times New Roman', serif;">
        <div class="card-header">
            <h4> DETAILS  @Model.Name</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Name: </strong>@Model.Name
                </li>
                <li class="list-group-item">
                    <strong>CreatedAt: </strong>@Model.CreatedAt
                </li>
             
             


            </ul>
        </div>
    </div>
</div>

